.container{
    width: 80vw;
    height: 80vh;
    background: rgb(192, 139, 139);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.littlecontainer{
    display: flex;

width: 60%;
height: 60%;
background: blue;

}
.openbutton{
   position: relative;
    left: 8px;
    top: 8px;
   
   width: 100px;
   height: 100px;


}
.changepo{
    width: 18vw;
    height: 80vh;
    background: rgb(158, 192, 139);
}
.buttonOk{
    width: 90px;
    height: 40px;
    background: rgb(208, 208, 21);
    position: relative; 
}
.buttonClose{
    width: 90px;
    height: 40px;
    background: rgb(208, 208, 21); 

}